@model Snips.Data.ToDoList

@{
    ViewData["Title"] = "Edit";
    string ListToDoListItemID = "";
    string ListToDoListItemContent = "";
}

<h1></h1>

<h4>Edit - ToDoList</h4>
<hr />
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">List Items</label>
            </div>

            <div class="form-group" id="ToDoListItemGroup">
                @foreach (var item in Model.ToDoListItems)
                {
                    {
                        ListToDoListItemID = "ToDoListItems[" + @item.Id + "].ToDoListItemID";
                        ListToDoListItemContent = "ToDoListItems[" + @item.Id + "].Content";
                    }

                    <label style="padding-top:10px;" class="control-label" for=ToDoListItems[@item.Id].Content>New Item</label>
                    <input class="form-control" name="@ListToDoListItemID" hidden value="@item.Id">
                    <input class="form-control"  name="@ListToDoListItemContent" value="@item.Content">
                }
            </div>
            <div class="form-group">
                <a id="Add_ToDoListItems" class="btn btn-primary">Add New Items +</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <script>
        var currentIndex = @Model.ToDoListItems.Count;
       window.addEventListener('load', (event) => {
           var Add_ToDoListItems = document.getElementById("Add_ToDoListItems");
           Add_ToDoListItems.addEventListener("click", function () {
               $("#ToDoListItemGroup").append(`
                    <label style="padding-top:10px;" class="control-label" for=ToDoListItems[${currentIndex}].Content>New Item</label>
                    <input class="form-control" id=ToDoListItems_${currentIndex}__ToDoListItemID name=ToDoListItems[${currentIndex}].ToDoListItemID hidden>
                    <input class="form-control" id=ToDoListItems_${currentIndex}__Content name=ToDoListItems[${currentIndex}].Content >
                `);

               currentIndex++;
           });
       });
    </script>
}
