@model Snips.Data.Note

@{
    ViewData["Title"] = "Edit";
}
<style>
    .control-label {
        font-size: xx-large;
    }

    #codeEditor {
        height: 500px;
        width: 100%;
    }
</style>
<h4>Note - Edit</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (string.IsNullOrWhiteSpace(Model.Content))
                {
                    <a id="ViewNote" class="btn btn-primary">Add Note Snip</a>
                }


                @if (string.IsNullOrWhiteSpace(Model.CodeContent))
                {
                    <a id="ViewCode" class="btn btn-primary">Add Code Snip</a>
                }


            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group" id="note-content">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" hidden />
                <div id="editorContent" style="height: 300px;">
                    @Html.Raw(Model.Content)
                </div>
            </div>
            <div class="form-group" id="code-picker">
                <a id="lang_id" hidden>@Model.CodeLanguage</a>
                <label asp-for="CodeLanguage" class="control-label"></label>
                <select class="selectpicker form-control"
                        asp-for="CodeLanguage">
                    <option value="c" id="c">C</option>
                    <option value="sql" id="sql">SQL</option>
                    <option value="python3" id="python3">Python3</option>
                    <option value="java" id="java">Java</option>
                    <option value="csharp" id="csharp">C#</option>
                    <option value="html" id="html">HTML</option>
                    <option value="markdown" id="markdown">Markdown</option>
                </select>
            </div>

            <div class="form-group" id="code-content">
                <label for="text">Code</label>
                <div id="codeEditor"></div>
                <textarea class="form-control"
                          type="text"
                          asp-for="CodeContent">
                @Html.Raw(Model.CodeContent)
                </textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js"
            integrity="sha256-C7DTYRJLG+B/VEzHGeoPMw699nsTQYPAXHKXZb+q04E="
            crossorigin="anonymous"></script>
    <script>
        window.addEventListener('load', (event) => {
            var codepicker = $("#code-picker");
            var codeContent = $("#code-content");
            var noteContent = $("#note-content")

            @if (string.IsNullOrWhiteSpace(Model.Content)) {
                @Html.Raw("noteContent.hide();")
            }

            @if (string.IsNullOrWhiteSpace(Model.CodeContent)) {
                @Html.Raw("codepicker.hide();")
                @Html.Raw("codeContent.hide();")
            }

            $("#ViewCode").click(function () {
                codepicker.show();
                codeContent.show();
                $("#ViewCode").hide();
            });

            $("#ViewNote").click(function () {
                noteContent.show();
                $("#ViewNote").hide();
            });


            var quillDocs = new Quill('#editorContent', {
                theme: 'snow'
            });
            quillDocs.on('text-change', function (delta) {
                var Documentation = document.querySelector('input[name=Content]');
                Documentation.value = quillDocs.root.innerHTML;
            });

            var editor = ace.edit("codeEditor");
            var textarea = document.getElementById("CodeContent");
            textarea.style.visibility = "hidden";

            var currentLang = document.getElementById("lang_id");
            currentLang.style.visibility = "hidden";

            var formObj = document.getElementById("CodeLanguage");
            formObj.value = currentLang.text;

            editor.setTheme("ace/theme/dracula");
            editor.session.setMode("ace/mode/sql");
            editor.setOptions({
                fontSize: "16px"
            });
            editor.getSession().setValue(textarea.value);
            editor.getSession().on("change", function () {
                textarea.value = editor.getSession().getValue();
            });
            editor.clearSelection();
            var langSelector = document.getElementById("CodeLanguage");
            langSelector.addEventListener("change", function () {
                var x = document.getElementById("CodeLanguage");
                var modeValue = x.options[x.selectedIndex].value;
                switch (modeValue) {
                    case "markdown":
                        editor.session.setMode("ace/mode/markdown");
                        break;
                    case "c":
                        editor.session.setMode("ace/mode/c_cpp");
                        break;
                    case "python3":
                        editor.session.setMode("ace/mode/python");
                        break;
                    case "sql":
                        editor.session.setMode("ace/mode/sql");
                        break;
                    case "java":
                        editor.session.setMode("ace/mode/java");
                        break;
                    case "html":
                        editor.session.setMode("ace/mode/html");
                        break;
                    case "csharp":
                        editor.session.setMode("ace/mode/csharp");
                        break;
                    default:
                        editor.session.setMode("ace/mode/sql");
                        break;
                }
            });
        });
    </script>
}
