@model NoteEditViewModel

@{
    ViewData["Title"] = "Edit";
}
<style>
    .control-label {
        font-size: xx-large;
    }

    #codeEditor {
        height: 500px;
        width: 100%;
    }
</style>
<h4>Note - Edit</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="@Model.Note.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (string.IsNullOrWhiteSpace(@Model.Note.Content))
                {
                    <a id="ViewNote" class="btn btn-primary">Add Note Snip</a>
                }


                @if (string.IsNullOrWhiteSpace(@Model.Note.CodeContent))
                {
                    <a id="ViewCode" class="btn btn-primary">Add Code Snip</a>
                }


            </div>
            <div class="form-group">
                <label asp-for="@Model.Note.Name" class="control-label"></label>
                <input asp-for="@Model.Note.Name" class="form-control" />
            </div>
            <div class="form-group" id="note-content">
                <label asp-for="@Model.Note.Content" class="control-label"></label>
                <input asp-for="@Model.Note.Content" class="form-control" hidden />
                <div id="editorContent" style="height: 300px;">
                    @Html.Raw(@Model.Note.Content)
                </div>
            </div>
            <div class="form-group" id="code-picker">
                @if (Model.Note.CodingLanguage == null)
                {
                    <a id="lang_id" hidden></a>
                }
                else
                {
                    <a id="lang_id" hidden>@Model.Note.CodingLanguage.Name</a>
                }

                <label class="control-label">Coding Language</label>
                <select class="selectpicker form-control" asp-for="@Model.Note.CodingLanguageId" asp-items="@Model.CodingLanguages">
                    <option>Please select one</option>
                </select>
            </div>

            <div class="form-group" id="code-content">
                <label for="text">Code</label>
                <div id="codeEditor"></div>
                <textarea class="form-control"
                          type="text"
                          asp-for="@Model.Note.CodeContent">
                @Html.Raw(Model.Note.CodeContent)
                </textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js"
            integrity="sha256-C7DTYRJLG+B/VEzHGeoPMw699nsTQYPAXHKXZb+q04E="
            crossorigin="anonymous"></script>
    <script>
        window.addEventListener('load', (event) => {
            var codepicker = $("#code-picker");
            var codeContent = $("#code-content");
            var noteContent = $("#note-content")

            @if (string.IsNullOrWhiteSpace(@Model.Note.Content)) {
                @Html.Raw("noteContent.hide();")
            }

            @if (string.IsNullOrWhiteSpace(@Model.Note.CodeContent)) {
                @Html.Raw("codepicker.hide();")
                @Html.Raw("codeContent.hide();")
            }

            $("#ViewCode").click(function () {
                codepicker.show();
                codeContent.show();
                $("#ViewCode").hide();
            });

            $("#ViewNote").click(function () {
                noteContent.show();
                $("#ViewNote").hide();
            });

            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],

                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction

                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],

                ['clean']                                         // remove formatting button
            ];

            var quillDocs = new Quill('#editorContent', {
                theme: 'snow',
                modules: {
                    toolbar: toolbarOptions
                },
            });
            quillDocs.on('text-change', function (delta) {
                $("#Note_Content").val(quillDocs.root.innerHTML);
                console.log($("#Note_Content").val());
            });

            var editor = ace.edit("codeEditor");
            var textarea = document.getElementById("Note_CodeContent");
            textarea.style.visibility = "hidden";

            var currentLang = document.getElementById("lang_id");
            currentLang.style.visibility = "hidden";


            editor.setTheme("ace/theme/dracula");
            setCodeEditorSyntax()
            editor.setOptions({
                fontSize: "16px"
            });
            editor.getSession().setValue(textarea.value);
            editor.getSession().on("change", function () {
                textarea.value = editor.getSession().getValue();
            });
            editor.clearSelection();

            var langSelector = document.getElementById("Note_CodingLanguageId");
            langSelector.addEventListener("change", function () {
                setCodeEditorSyntax();
            });

            function setCodeEditorSyntax() {
                var x = document.getElementById("Note_CodingLanguageId");
                var modeValue = x.options[x.selectedIndex].textContent;
                switch (modeValue) {
                    case "markdown":
                        editor.session.setMode("ace/mode/markdown");
                        break;
                    case "c":
                        editor.session.setMode("ace/mode/c_cpp");
                        break;
                    case "python3":
                        editor.session.setMode("ace/mode/python");
                        break;
                    case "sql":
                        editor.session.setMode("ace/mode/sql");
                        break;
                    case "java":
                        editor.session.setMode("ace/mode/java");
                        break;
                    case "html":
                        editor.session.setMode("ace/mode/html");
                        break;
                    case "csharp":
                        editor.session.setMode("ace/mode/csharp");
                        break;
                    default:
                        editor.session.setMode("ace/mode/sql");
                        break;
                }
            }
           
        });
    </script>
}
